[submodule ".registry"]
	path = .registry
	url = https://github.com/igordot/igordot.r-universe.dev
	branch = HEAD
[submodule "babelgene"]
	path = babelgene
	url = https://github.com/igordot/babelgene
[submodule "clustermole"]
	path = clustermole
	url = https://github.com/igordot/clustermole
[submodule "msigdbr"]
	path = msigdbr
	url = https://github.com/igordot/msigdbr
[submodule "phenomenalist"]
	path = phenomenalist
	url = https://github.com/igordot/phenomenalist
[submodule "scooter"]
	path = scooter
	url = https://github.com/igordot/scooter
[submodule "varnisch"]
	path = varnisch
	url = https://github.com/igordot/varnisch
